### Index Hierarchy:

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Index levels

outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index2=pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
print(hier_index2)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

### Create the dataframe with multi_index level

In [7]:
df1=pd.DataFrame(np.random.randn(6,3),hier_index,['A','B','C'])

In [8]:
df1

                A         B         C
(G1, 1) -1.219933 -1.574964  0.063694
(G1, 2)  0.967092  1.577982 -0.061578
(G1, 3) -0.403557  0.658086 -0.228370
(G2, 1) -3.427514 -0.797916 -0.844431
(G2, 2)  1.496670 -0.970307 -1.175946
(G2, 3) -0.096717  0.778334 -1.638052

In [9]:
# Get the customized view :(which is infact more proper)

df2=pd.DataFrame(np.random.randn(6,3),hier_index2,['A','B','C'])

In [10]:
df2

             A         B         C
G1 1 -0.156565  1.629514 -0.116718
   2  1.123986  0.275703  0.609626
   3  1.401317  0.177673 -0.818091
G2 1  0.271474 -0.478637 -0.064361
   2 -0.507397 -1.883555 -0.745116
   3  0.118928  1.210595 -0.232961

### Grab data from multilevel dataframes :

Grab columns :

In [11]:
df2['A']

G1  1   -0.156565
    2    1.123986
    3    1.401317
G2  1    0.271474
    2   -0.507397
    3    0.118928
Name: A, dtype: float64

In [12]:
df2[['B','C']]

             B         C
G1 1  1.629514 -0.116718
   2  0.275703  0.609626
   3  0.177673 -0.818091
G2 1 -0.478637 -0.064361
   2 -1.883555 -0.745116
   3  1.210595 -0.232961

In [13]:
#grab b,c from G1 only

df2.loc['G1'][['B','C']]

          B         C
1  1.629514 -0.116718
2  0.275703  0.609626
3  0.177673 -0.818091

In [14]:
df2[['B','C']].loc['G1']

          B         C
1  1.629514 -0.116718
2  0.275703  0.609626
3  0.177673 -0.818091

2.Grab the rows :

In [15]:
df2.loc['G2']

          A         B         C
1  0.271474 -0.478637 -0.064361
2 -0.507397 -1.883555 -0.745116
3  0.118928  1.210595 -0.232961

In [16]:
df2.loc['G2'].loc[[1,3]]

          A         B         C
1  0.271474 -0.478637 -0.064361
3  0.118928  1.210595 -0.232961

In [17]:
df2.loc['G1'].loc[[1,3]]

          A         B         C
1 -0.156565  1.629514 -0.116718
3  1.401317  0.177673 -0.818091

In [18]:
df2.loc['G1'].loc[[1,3],'B':]

          B         C
1  1.629514 -0.116718
3  0.177673 -0.818091

3.Conditioal grabbing :

In [19]:
df2

             A         B         C
G1 1 -0.156565  1.629514 -0.116718
   2  1.123986  0.275703  0.609626
   3  1.401317  0.177673 -0.818091
G2 1  0.271474 -0.478637 -0.064361
   2 -0.507397 -1.883555 -0.745116
   3  0.118928  1.210595 -0.232961

In [20]:
df2[df2['C']<0]

             A         B         C
G1 1 -0.156565  1.629514 -0.116718
   3  1.401317  0.177673 -0.818091
G2 1  0.271474 -0.478637 -0.064361
   2 -0.507397 -1.883555 -0.745116
   3  0.118928  1.210595 -0.232961

In [21]:
df2[df2['C']<0].loc['G1']

          A         B         C
1 -0.156565  1.629514 -0.116718
3  1.401317  0.177673 -0.818091

In [22]:
df2[df2['B']<1].loc['G2']

          A         B         C
1  0.271474 -0.478637 -0.064361
2 -0.507397 -1.883555 -0.745116

### Naming the indexes:

In [23]:
df2.index.names

FrozenList([None, None])

In [24]:
# GROUPS - outside index name
# NUMBERS - inside index name

df2.index.names=['GROUPS','NUMBERS']

In [25]:
df2

                       A         B         C
GROUPS NUMBERS
G1     1       -0.156565  1.629514 -0.116718
       2        1.123986  0.275703  0.609626
       3        1.401317  0.177673 -0.818091
G2     1        0.271474 -0.478637 -0.064361
       2       -0.507397 -1.883555 -0.745116
       3        0.118928  1.210595 -0.232961

In [26]:
df2.loc['G1']

                A         B         C
NUMBERS
1       -0.156565  1.629514 -0.116718
2        1.123986  0.275703  0.609626
3        1.401317  0.177673 -0.818091

In [27]:
df2.loc['G1'].loc[2,'C']

0.6096261462218653

### Use of xs() method :

In [28]:
df2

                       A         B         C
GROUPS NUMBERS
G1     1       -0.156565  1.629514 -0.116718
       2        1.123986  0.275703  0.609626
       3        1.401317  0.177673 -0.818091
G2     1        0.271474 -0.478637 -0.064361
       2       -0.507397 -1.883555 -0.745116
       3        0.118928  1.210595 -0.232961

In [29]:
df2.xs('G1')

                A         B         C
NUMBERS
1       -0.156565  1.629514 -0.116718
2        1.123986  0.275703  0.609626
3        1.401317  0.177673 -0.818091

In [30]:
# grab the values where numbers=1 from both groups :

df2.xs(1,level='NUMBERS')

               A         B         C
GROUPS
G1     -0.156565  1.629514 -0.116718
G2      0.271474 -0.478637 -0.064361