In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
lebels=['a','b','c','d']
my_data=[10,20,30,40]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30,'d':40}

## creating series with default labels:

In [5]:
pd.Series(my_data) #S is in upper case

0    10
1    20
2    30
3    40
dtype: int64

## creating series with defined labels:

In [6]:
pd.Series(my_data,lebels)

a    10
b    20
c    30
d    40
dtype: int64

## creating series with defined labels and numpy arrays:

In [7]:
pd.Series(arr,lebels)

a    10
b    20
c    30
d    40
dtype: int64

## creating series with dictionary:

In [8]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

## make lebels as the datas:

In [9]:
pd.Series(lebels)

0    a
1    b
2    c
3    d
dtype: object

## grabbing datas from series :

In [10]:
ser1=pd.Series(np.arange(1,4),['USA','CANADA','RUSSIA'])

In [11]:
ser2=pd.Series(np.random.randint(1,100,4),['USA','CANADA','RUSSIA','INDIA'])

In [12]:
ser1

USA       1
CANADA    2
RUSSIA    3
dtype: int64

In [13]:
ser2

USA       83
CANADA    95
RUSSIA    17
INDIA     95
dtype: int64

In [14]:
ser1['CANADA']

2

In [28]:
ser2[:'RUSSIA']

USA       83
CANADA    95
RUSSIA    17
dtype: int64

In [15]:
ser2['INDIA']

95

In [16]:
#addition of 2 series:
ser1+ser2

CANADA    97.0
INDIA      NaN
RUSSIA    20.0
USA       84.0
dtype: float64

In [17]:
ser1*ser2

CANADA    190.0
INDIA       NaN
RUSSIA     51.0
USA        83.0
dtype: float64