In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame({'col1':[1,2,3,4],
             'col2':[444,555,666,444],
             'col3':['abc','def','ghi','jkl']})

In [4]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl

### find the unique value :

In [5]:
df['col2'].unique()

array([444, 555, 666])

In [6]:
# find the no of unique values :

len(df['col2'].unique())

3

In [7]:
# find the no of unique values :

df['col2'].nunique()

3

### get the count of a value :

In [8]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### use of apply :

In [15]:
df['col2']

0    444
1    555
2    666
3    444
Name: col2, dtype: int64

In [18]:
#use times 2 func
df['col2'].apply(lambda x:x*2)

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

In [20]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [24]:
list(map(lambda x:x**2,[10,11,12,13]))

[100, 121, 144, 169]

### Sort the value :

In [25]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  jkl
1     2   555  def
2     3   666  ghi

In [30]:
sorted(df['col2'].unique())

[444, 555, 666]

In [35]:
df.sort_index()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  jkl